# Dependencies
node_modules/

# Environment variables
.env*

# Build output
public/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
*.log

# Local development
.cache/
.sass-cache/
.aider*
